<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=no">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link href="//fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;subset=cyrillic" rel="stylesheet">
    <title>Awesome Quiz </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css') }}">
    <!-- FontAweome CDN Link for Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
 <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="/login">
        <h3>Login Here</h3>

        <label for="usname">Username</label>
        <input type="text" placeholder="Email or Phone" id="usname" name="username">

        <label for="pasword">Password</label>
        <input type="password" placeholder="Password" id="pasword" name="password">

        <button onclick="index2.html">Log In</button>
    </form>
</body>
</html>
