<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz Setup</title>
</head>
<body>
<br>
<form action="/quiz_setup" method="post">
<label for="quiz_name">Enter quiz name</label>
<input type="text" id="quiz_name" name="quiz_name">
    <br>
    <br>
    <br>
<label for="num-of-questions">Number of Questions:</label>
<input type="text" id="num-of-questions" name="number" min="1" max="50" value="10">
<br>
<br>
<br>
<label for="category">Select category</label>
<select id="category" name="category">
    <option value="any">Any category</option>
    <option value="18">Science: Computers</option>
    <option value="21">Sport</option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
    <option></option>
</select>
<br>
<br>
<br>
<label for="difficulty">Select difficulty</label>
    <select id="difficulty" name="difficulty">
        <option value="any">Any difficulty</option>
        <option value="easy">Easy</option>
        <option value="medium">Medium</option>
        <option value="hard">Hard</option>
    </select>
<br>
<br>
<br>
<label for="type">Select type</label>
 <select id="type" name="type">
     <option value="any">Any type</option>
     <option value="multiple">Multiple choice</option>
     <option value="boolean">True/false</option>
 </select>
    <button type="submit">Generate</button>
    </form>
</body>
</html>