<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <div id="myHTMLWrapper">
         <p id="quest"></p>
         <p>question2 {{question2}}</p>
         <div id="count">
            {{i}}
         </div>
      </div>
      <form method="post">
         <input type="radio" name="p" value="ddd">
         <input type="radio" name="p" value="aaa">
         <input type="submit" name="sub">
      </form>
   <script>
<!--      var p = document.getElementById("count")-->
<!--      var i = {{i}}-->
<!--      p.innerHTML = i;-->
<!--      const iPlus = () => {-->
<!--         i++-->
<!--         p.innerHTML = i;-->
<!--      };-->
<!--      p.addEventListener("click", iPlus);-->

   </script>
   </body>
</html>
