<!DOCTYPE html>
<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
   </head>
   <body>
      <div id="myHTMLWrapper">
         <p>question1 {{question1}}</p>
         <p>question2 {{question2}}</p>
         <div id="count">

         </div>
      </div>
      <form>
         <button type="button" value="g" id="butt" onclick="iPlus(i)">g</button>
         </form>
   <script>
      var p = document.getElementById("count")
      var i = 0
      p.innerHTML = i;
      const iPlus = () => {
         i++
         p.innerHTML = i;
      };
      p.addEventListener("click", iPlus);

   </script>
   </body>
</html>
